/*@media (prefers-color-scheme: light) {*/
:root {
  --bg-color: white;
  --bg-secondary: #aaa;
  --fg-color: black;
  --fg-color-light: #333;
  --fg-color-mid: rgba(0, 0, 0, 0.2);
  --link-color: #14833b;
  --ui-button-bg: #ddd;
  --ui-button-hover: #aaa;
  --title-bg-color: #eee;
  --accent-color: #00a115;

  --title-accent-color: #188f2d;
  --warning-color: #bb0000;
  /*--link-color: #7fb3fd;*/
}
/*}*/

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #27272a;
    --bg-secondary: #526052;
    --fg-color: white;
    --fg-color-light: #aaa;
    --fg-color-mid: rgba(255, 255, 255, 0.2);
    --link-color: #7ffda7;
    --ui-button-bg: #303030;
    --ui-button-hover: #404040;
    --title-bg-color: #1c1c1c;
    --accent-color: #2aff4d;
  }
}

html {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  border-radius: 0.75rem;
  overflow: hidden;

  position: relative;
  display: flex;
  align-items: stretch;
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  min-height: 100%;
  max-height: 100%;
  /*border-radius: 0.5em;*/
  /*overflow: hidden;*/
  color: var(--fg-color);
  transition:
    background-color 1s ease-in-out,
    color 1s ease-in-out;
  font-family:
    Arial,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Open Sans,
    Helvetica Neue,
    sans-serif;
}

#body-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  background-color: var(--bg-color);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1em;
  box-sizing: border-box;
  overflow: auto;
}

.bold {
  font-weight: bold;
}

.ui-button {
  user-select: none;
  background-color: var(--ui-button-bg);
  padding: 0.25em 0.5em;
}

.ui-button:hover {
  background-color: var(--ui-button-hover);
}

.button {
  user-select: none;
  background-color: var(--ui-button-bg);
  padding: 0.75em;
  border-radius: 5px;
  border: 1px solid var(--fg-color);
}

.button:hover {
  cursor: pointer;
  background-color: var(--ui-button-hover);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-text {
  text-align: center !important;
}

.spacer {
  flex: 1;
}

.icon-button {
  padding: 0.25em;
  margin: 0.05em;
  border-radius: 0.5em;
  transition: background-color 0.25s ease-in-out;
}

.icon-button:hover {
  cursor: pointer;
  background-color: var(--ui-button-hover);
}

.material-symbols-outlined {
  user-select: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

hr {
  border-color: rgba(0, 0, 0, 0.4);
  border-radius: 100vw;
}

.profit {
  color: #5276ff;
  font-weight: bold;
}

.income {
  color: #00a115;
  font-weight: bold;
}

.expense {
  color: #ff0000;
  font-weight: bold;
}
